API_ID=
API_HASH=
SESSION_NAME=anime_reader
TELEGRAM_SESSION_STRING=
BOT_TOKEN=
TARGET_CHANNEL=@anime_edit_videoo
OWNER_ID=
DB_PATH=bot.db
DOWNLOAD_DIR=downloads
PORT=10000
ROUTERAI_API_KEY=
ROUTERAI_MODEL=google/gemini-3.1-flash-lite
ROUTERAI_BASE_URL=https://routerai.ru/api/v1
